### 1、实验一（读取系统日期时间，进行变量类型的转换，对转换前后的变量类型进行辨别对比）

#### （1）使用读取系统当前日期时间的 3 个函数： Sys.Date（）、 Sys.time（）、 date（）。

In [1]:
(t1 <- Sys.Date())
(t2 <- Sys.time())
(t3 <- date())

[1] "2023-03-14"

[1] "2023-03-14 09:12:46 CST"

[1] "Tue Mar 14 09:12:46 2023"

#### （2）使用类型辨别函数 class（）判断读取的 3 个不同的结果的类型。

In [2]:
class(t1)
class(t2)
class(t3)

[1] "Date"

[1] "POSIXct" "POSIXt"

[1] "character"

#### （3）将读取到的日期时间值转换为另外一种数据类型：将年月日格式的日期时间值转化 为月日年格式的字符串。

In [3]:
format(t1, "%m/%d/%Y")
format(t2, "%m/%d/%Y")

[1] "03/14/2023"

[1] "03/14/2023"

#### （4）判断转换后的结果的类型，判定是否转换成功

In [4]:
class(format(t1, "%m/%d/%Y"))
is.character(format(t1, "%m/%d/%Y"))
class(format(t2, "%m/%d/%Y"))
is.character(format(t2, "%m/%d/%Y"))
class(t3)
is.character(t3)

[1] "character"

[1] TRUE

[1] "character"

[1] TRUE

[1] "character"

[1] TRUE

### 2、实验二（创建多种数据结构，并进行数据结构的转换、索引、扩展等编辑操作）

#### （1）创建一个向量 x，内含元素为序列： 5.1 4.9 4.7 4.6 5.0 3.5 3.0 3.2 3.1 3.6。

In [5]:
(x <- c(5.1,4.9,4.7,4.6,5.0,3.5,3.0,3.2,3.1,3.6))

 [1] 5.1 4.9 4.7 4.6 5.0 3.5 3.0 3.2 3.1 3.6

#### （2）查询向量 x 中序号为 3 6 9 的元素 查询向量 x 中大于 4.0 小于等于 5.0 的元素的位置

In [6]:
(x[c(3,6,9)])
# subset(x, x > 4 & x <= 5)  # 检索向量中满足条件的元素
which(x > 4 & x <= 5)

[1] 4.7 3.5 3.1

[1] 2 3 4 5

#### （3）创建一个向量 Petal.Length，内含等差序列：首位为 1.7，等差为 0.1 ，长度为 5。

In [7]:
(Petal.Length <- seq(1.7,by=0.1,length.out=5))

[1] 1.7 1.8 1.9 2.0 2.1

#### （4）创建一个向量 Petal.Width，内含重复序列：重复 0.2 五次。

In [8]:
(Petal.Width <- rep(0.2,each=5))

[1] 0.2 0.2 0.2 0.2 0.2

#### （5）创建一个向量为重复因子序列 Species ：水平数为 3，各水平重复 2 次，序列长度为 5， 三个水平为： setosa、 versicolor、 virginica。

In [9]:
(Species <- gl(3, 2, 5, labels= c("setosa", "versicolor", "virginica")))

[1] setosa     setosa     versicolor versicolor virginica
Levels: setosa versicolor virginica

#### （6）创建一个 5 行 2 列的矩阵，元素为向量 x，按列填充。

In [10]:
(juzheng <- matrix(x, ncol = 2, nrow = 5, byrow = F))

     [,1] [,2]
[1,] 5.1  3.5
[2,] 4.9  3.0
[3,] 4.7  3.2
[4,] 4.6  3.1
[5,] 5.0  3.6

#### （7）将矩阵写人数据框 data_iris，更改列名为： Sepal.Length 、 Sepal.Width。

In [11]:
(data_iris <- (data.frame(juzheng)) ) # 将矩阵转化为数据框
names(data_iris)[1:2] <- c("Sepal.Length" ,"Sepal.Width")
(data_iris)

  X1  X2
1 5.1 3.5
2 4.9 3.0
3 4.7 3.2
4 4.6 3.1
5 5.0 3.6

  Sepal.Length Sepal.Width
1 5.1          3.5
2 4.9          3.0
3 4.7          3.2
4 4.6          3.1
5 5.0          3.6

#### （8）将向量 Petal.Length、 Petal.Width、 Species 按列合并至数据框 data_iris 中。

In [12]:
(data_iris <- cbind(data_iris,Petal.Length, Petal.Width,Species))

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.7          0.2         setosa
2 4.9          3.0         1.8          0.2         setosa
3 4.7          3.2         1.9          0.2         versicolor
4 4.6          3.1         2.0          0.2         versicolor
5 5.0          3.6         2.1          0.2         virginica

#### （9）将数据框 data iris 保存为 txt 文件，保存到工作空间的 test 目录下。

In [13]:
write.table(data_iris, file="FileSave/data_iris.txt")

### 3、实验三（读取 txt 文件，进行编辑操作，再写入另外一个 csv 文件中）

#### （1）读取实验 保存在 test 目录下的 txt 文件 data iris

In [14]:
(data_iris <- read.table("FileSave/data_iris.txt",head=T,encoding="UTF-8"))

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.7          0.2         setosa
2 4.9          3.0         1.8          0.2         setosa
3 4.7          3.2         1.9          0.2         versicolor
4 4.6          3.1         2.0          0.2         versicolor
5 5.0          3.6         2.1          0.2         virginica

#### （2）将R的示例数据集 iris 中的第6~10行写入数据框 data_iris1

In [15]:
(data_iris1 <- data.frame(iris[6:10,]))

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
6  5.4          3.9         1.7          0.4         setosa
7  4.6          3.4         1.4          0.3         setosa
8  5.0          3.4         1.5          0.2         setosa
9  4.4          2.9         1.4          0.2         setosa
10 4.9          3.1         1.5          0.1         setosa

#### （4）将数据框 data_iris data_irisl 合并为数据框 data_iris2 ，并保存为 csv 文件在同目录下

In [16]:
(data_iris2 <- rbind(data_iris, data_iris1))
write.csv(data_iris2, file="FileSave/data_iris2.csv")
# write.table(data_iris2, file="FileTest/data_iris2.csv",sep=",",row.names=FALSE,col.names=TRUE)

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.1          3.5         1.7          0.2         setosa
2  4.9          3.0         1.8          0.2         setosa
3  4.7          3.2         1.9          0.2         versicolor
4  4.6          3.1         2.0          0.2         versicolor
5  5.0          3.6         2.1          0.2         virginica
6  5.4          3.9         1.7          0.4         setosa
7  4.6          3.4         1.4          0.3         setosa
8  5.0          3.4         1.5          0.2         setosa
9  4.4          2.9         1.4          0.2         setosa
10 4.9          3.1         1.5          0.1         setosa